@import '~bulma/bulma.sass';

html, body {
  height: 500px;
  width: 300px;
  background: $background;
  font-family: 'Helvetica Neue', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  background: $grey-lighter;
  height: 1px;
}

/* Bulma overrides */
.columns:not(:last-child) {
  margin-bottom: 0;
}

/* Custom */
.dg-page {
  padding: 12px;
}

.dg-overlay {
  z-index: 10;
  background: $background;
}

.dg-nav-tabs {
  width: 100%;
  position: absolute;
  bottom: 0;

  a {
    border-bottom-width: 2px;
  }
}

.dg-generate-button {
  margin-bottom: 12px;
}
