@import '~bulma/bulma.sass';

html, body {
  height: 500px;
  width: 300px;
  background: $white-bis;
  font-family: 'Helvetica Neue', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Bulma overrides */
.columns:not(:last-child) {
  margin-bottom: 0;
}

/* Custom */
.dg-page {
  padding: 12px;
}

.dg-overlay {
  z-index: 10;
  background: $white-bis;
}

.dg-nav-tabs {
  width: 100%;
  position: absolute;
  bottom: 0;

  a {
    border-bottom-width: 2px;
  }
}

.dg-generate-button {
  margin-bottom: 12px;
}

.dg-generator-page-content {
  height: 330px;
  overflow-y: scroll;
}
